@CHARSET "ISO-8859-1";

body {
		font-family: 'PT Sans', sans-serif;
		background-color: #FBFBFB;
		
		
		}
		
		/*================ starting of Login page ============*/
		
		.forlegends {
		font-size: 30px;
		
		}
		
		.forlabels {
		
		font-size: 15px;
		
		}
	
		.foranchor {
		
		color: #0066C2;
		
		}
	
		.foranchor:hover {
		
		color: #D75500;
		
		}
	
		/*============== End of login page ===========*/
		
		
		
		/*============= Start of thumbnails ============*/
	
		.thumbp a {
		color: #0066C2;
		font-size: 15px;
		}
		.thumbp a:hover {
		color: #D75500;
		
		}
		.coname {
		padding-top: 0px;
		color: #6C6C6C;
		font-size: 13px;
		
		}
		.productprice {
		font-size: 16px;
		font-weight: bold;
		color: #B12704;
		
		}
		.productprice .rupeesymbol {
			font-family: 'Oswald', sans-serif;
			font-weight: normal;
			font-size: 13px;
		
		}
		
		
		.prodetailsname {
		color: black;
		font-size: 20px;
		
		}
		.propricedetails {
		color: #B12704;
		font-size: 18px;
		
		}
		.pricetagspan {
		font-size: 14px;
		color: #6C6C6C;
		
		}
		
		.rupeesymbol {
			font-family: 'Oswald', sans-serif;
			font-weight: normal;
			font-size: 14px;
		
		}
		
		.row .thumbnail {
    	border:0;
    	box-shadow:0;
    	border-radius:0;
		}
		
		/*================== End of thumbnails ==================*/
		/*================== start of view categories ==================*/
		.viewcatlegend {
		
		font-size: 40px;
		
		}
		
		.tablehead {
		font-size: 20px;
		
		}
		.tablecontent {
		font-size: 15px;
		
		}
		/*================== End of view categories ==================*/
		
		
		.navbar-inverse {
		background-color: #3C3C3C;
		
		}
		
		
		/*================== footer ===================*/
		
		.forfooter {
		
		background-color: #232F3E;
		padding-bottom: 0px;
		border-radius: 5px 5px 0px 0px;
		}
		
		.forfooter p {
		font-size: 14px;
		color: white;
		padding: 20px 0px 20px 20px;
		}
		
		/*===================== astrisks =====================*/
		.reqstar {
		/*color: #B12704;*/
		color: red;
		font-size: 20px;
		
		}
		
		/*================== Contact us page =====================*/
		.foraboutheader {
			font-style: oblique;
			color: #D75500;
		
		}
		
		.fortip {
			color: #0066C2;
		
		}
		.fortip:hover {
			color: #D75500;
		
		}
		
		/******************** mycart page ***********************/
		.formycartheader {
			font-color: black;
			font-size: 22px;		
			font-weight: bold;
		}
		
		.panel .table > tbody > tr > td  > p > a {
			color: #0066C2;	
			font-size: 17px;
			font-weight: bold;
			
		}
		.panel .table > tbody > tr > td  > p > a:hover {
			color: #D75500;	
			font-size: 17px;
			font-weight: bold;
			
		}	
		
		
		.panel .table > tbody > tr > td  > p {
			color: #000;
			font-size: 14px;
			
		}
		
		.panel .table > tbody > tr > td .productprice {
		font-size: 17px;
		font-weight: bold;
		color: #B12704;
		
		}
		
		.panel .table > thead > tr > th {
			color: #6C6C6C;
			font-size: 14px;
			font-weight: normal;
		
		}
		.panel .panel-body .subtotaltext {
			color: #000;
			font-weight: bold;
			font-size: 17px;
			
		}
		.panel .panel-body .subtotaltext .cartsubtotal {
			color: #B12704;
			
		}
		.panel .panel-body .subtotaltext .cartsubtotal .rupeesymbol {
			font-family: 'Oswald', sans-serif;
			font-weight: normal;
			font-size: 13px;
		}
		.panel .table > tbody > tr > td .productprice .rupeesymbol {
			font-family: 'Oswald', sans-serif;
			font-weight: normal;
			font-size: 13px;
		
		}
		
		.container .forshoppingbutton {
			color: #0066C2;
			
		}
		
		/**************    Confirm purchase page      ******************/
		 .forusername {
		 	font-weight: bold;
		 	font-size: 18px;
		 	
		 }
		 .foruserpno {
		 	font-weight: normal;
		 	font-size: 14px;
		 	
		 }
		 .pnobold {
		 	font-weight: bold;
		 	font-size: 15px;
		 }
		 .panel .table > tbody > tr > td .productname {
		 	color: #D75500;
		 	font-weight: bold;
		 	font-size: 18px;
		 	
		 }
		 .panel .table > tbody > tr > td .productdesc {
		 	color: #000;
		 	font-weight: normal;
		 	font-size: 14px;
		 
		 }
		 /************* Navbar edit ***************/
		 .navbar-inverse .container-fluid .navbar-nav > li > a:hover, 
		 .navbar-inverse .container-fluid .navbar-nav .active > a:hover {
		 	background-color: #D75500;
		 }
		 
		 .navbar-inverse .container-fluid .navbar-nav .active > a {
		 	color: #fff;
		 	background-color: #D75500;
		 }
		 /***************** order details page ********************/
		.panel .table > tbody > tr > td > .odname > a {
			font-size: 15px;
			font-weight: normal;
			 color: #0066C2; 
		 }
		 
		 .panel .table > tbody > tr > td > .odname > a:hover {
			 color: #D75500; 
			 font-size: 15px;
			 font-weight: normal;
		 }
		 
		 .panel .table > tbody > tr > td > .odprice {
		 	font-family: 'Oswald', sans-serif;
			font-weight: bold;
			font-size: 15px;
		 	color: #B12704;
		 }
		 
		  .panel .table > tbody > tr > td > .odprice .rsymbol {
		  	font-weight: normal;
			font-size: 13px;
		  
		  }
		  /***********   My account page   ************/
		  .myachead {
		  	font-weight: bold;
		  	font-size: 14px;
		  }
		  .myactext {
		  	font-weight: normal;
		  	font-size: 14px;
		  
		  }